.MainListItem {
  display: flex;
  border: 1px solid rgb(155, 153, 153);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.MainListItem p {
  font-weight: 300;
  margin-top: 10px;
}

button {
  border: none;
  margin-top: 10px;
  background: none;
  color: rgb(23, 85, 255);
  font-size: 1rem;
}