.PostFacebook {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  text-align: left;
}

.PostFacebook img {
  width: 80px;
  margin-right: 15px;
}

.likeBlock span {
  color: gray;
}

.postText {
  margin: 8px 0;
}

.postName {
  display: inline;
  color: rgb(0, 0, 200);
  font-weight: 600;
}

.likeBlock button {
  border: none;
  background: none;
  margin-right: 5px;
  padding: 0;
  color:rgb(0, 0, 200);
  cursor: pointer;
}

.likeBlock button:not(:first-child) {
  margin: 0 5px;
}
